@model MediaWeb.Models.Podcast.PodcastDetailViewModel

@if (Model.IsHidden == true && !User.IsInRole("Admin"))
{
    <strong>This page is not available!</strong>
}
else
{
    <h1>@Model.Title</h1>

    <strong>Find the podcast here:</strong>
    <p><a href="@Model.File">Podcast</a></p>
    

    <strong>Release Date</strong>
    <p>@Model.ReleaseDate.ToString("dd/MM/yyyy")</p>

    <strong>Description</strong>
    <p>@Model.Description</p>

    <strong>Host(s)</strong>
    <p>
        @foreach (var host in Model.PodcastHosts)
        {
            <ul>@host.Host.Name</ul>
        }
    </p>
    <strong>Guest(s)</strong>
    <p>
        @foreach (var guest in Model.PodcastGuests)
        {
            <ul>@guest.Guest.Name</ul>
        }
    </p>
    <p>
        @if (User.Identity.IsAuthenticated)
        {
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Actions
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    @if (User.IsInRole("Admin"))
                    {
                        <a class="dropdown-item" asp-controller="User" asp-action="PodcastReview" asp-route-id="@Model.Id">Write a Review</a>
                        <a class="dropdown-item" asp-controller="Podcast" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                        <a class="dropdown-item" asp-controller="Podcast" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
                        <a class="dropdown-item" asp-controller="Podcast" asp-action="HidePodcast" asp-route-id="@Model.Id">Hide Podcast</a>
                    }
                    else if (User.IsInRole("User"))
                    {
                        <a class="dropdown-item" asp-controller="User" asp-action="PodcastReview" asp-route-id="@Model.Id">Write a Review</a>
                    }
                </div>
            </div>
        }
        </p>

    <strong>Reviews</strong>
    <div class="card-columns">
        @foreach (var item in Model.PodcastReviews)
        {
            <div class="card">
                <div class="card-body">
                    <h5 style="border-bottom: 1px solid black">@item.Review.Title</h5>
                    @item.Review.Content
                    <footer style="color: gray; font-size:10px;">User: @item.Review.MediaWebUser.UserName</footer>
                </div>
            </div>
        }
    </div>
}