@model MediaWeb.Models.Movie.MovieDetailViewModel

<h1>@Model.Title</h1>

<div style="float: right;">
    <img src="@Model.Photo" />
</div>

<strong>Release Date</strong>
<p>@Model.ReleaseDate.ToString("dd/MM/yyyy")</p>

<strong>Summary</strong>
<p>@Model.Summary</p>



<a asp-controller="Movie" asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
<a asp-controller="Movie" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>