@model MediaWeb.Models.TVShow.TVShowDetailViewModel

@if (Model.IsHidden == true && !User.IsInRole("Admin"))
{
    <strong>This page is not available!</strong>
}
else
{
    <h1>@Model.Name</h1>

    <div style="float: right;">
        <img id="imagetypeone" src="@Model.Picture" />
    </div>

    <strong>Release Date</strong>
    <p>@Model.ReleaseDate.ToString("dd/MM/yyyy")</p>

    <strong>Summary</strong>
    <p>@Model.Summary</p>

    <strong>Genres</strong>
    <p>
        <ul>
            @foreach (var item in Model.TVShowGenres)
            {
                <li> @item.Genre.Name</li>
            }
        </ul>
    </p>
    <strong>Director(s)</strong>
    <p>
        <ul>
            @foreach (var director in Model.TVShowDirectors)
            {
                <li>@director.Director.Name</li>
            }
        </ul>
    </p>
    <strong>Actor(s)</strong>
    <p>
        <ul>
            @foreach (var actor in Model.TVShowActors)
            {
                <li>@actor.Actor.Name</li>
            }
        </ul>
    </p>
    <strong>Seasons</strong>
    <p>@Model.NumberOfSeaons</p>

    <p>
        <div class="accordion" id="accordionExample">
            @{ string headerId = "header";
                string collapseId = "collapse";}
            @foreach (var episode in Model.Episodes)
            {
                <div class="card">
                    <div class="card-header" id="@headerId">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#@collapseId" aria-expanded="false" aria-controls="@collapseId">
                                #@episode.EpisodeNumber @episode.Name
                            </button>
                        </h2>
                    </div>
                    <div id="@collapseId" class="collapse" aria-labelledby="@headerId" data-parent="#accordionExample">
                        <div class="card-body">
                            @episode.Summary
                        </div>
                    </div>
                </div>
                headerId = headerId + "One";
                collapseId = collapseId + "One";
            }
        </div>
    </p>

    <p>
        @if (User.Identity.IsAuthenticated)
        {
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Actions
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    @if (User.IsInRole("Admin"))
                    {
                        <a class="dropdown-item" asp-controller="User" asp-action="TVShowReview" asp-route-id="@Model.Id">Write a Review</a>
                        <a class="dropdown-item" asp-controller="TVShow" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                        <a class="dropdown-item" asp-controller="TVShow" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
                        <a class="dropdown-item" asp-controller="TVShow" asp-action="CreateEpisode" asp-route-id="@Model.Id">Add an episode</a>
                        <a class="dropdown-item" asp-controller="TVShow" asp-action="HideTvshow" asp-route-id="@Model.Id">Hide TV Show</a>
                    }
                    else if (User.IsInRole("User"))
                    {
                        <a class="dropdown-item" asp-controller="User" asp-action="TVShowReview" asp-route-id="@Model.Id">Write a Review</a>
                        <a class="dropdown-item" asp-controller="TVShow" asp-action="CreateEpisode" asp-route-id="@Model.Id">Add an episode</a>
                    }
                </div>
            </div>
        }
        </p>
    <strong>Reviews</strong>
    <div class="card-columns">
        @foreach (var item in Model.TVShowReviews)
        {
            <div class="card">
                <div class="card-body">
                    <h5 style="border-bottom: 1px solid black">@item.Review.Title</h5>
                    @item.Review.Content
                    <footer style="color: gray; font-size:10px;">User: @item.Review.MediaWebUser.UserName</footer>
                </div>
            </div>
        }
    </div>
}
<script>
    function IDCreator(string, int) {
        return string + int;
    }
</script>

